/* ====================================
   グローバルCSSファイル
   このファイルにグローバルなCSSを記述します
   ==================================== */

/* リセット */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    transition: var(--transition);
}

[hidden] {
    display: none !important;
}